* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header > div,
ul {
  display: flex;
  justify-content: space-around;
  color: white;
  background: #f65e58;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header ul a {
  color: white;
  font-size: 24px;
}
header li {
  padding: 10px;
}
header div img {
  width: 100%;
  height: 450px;
  object-fit: none;
}
main {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 70%;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}
main div {
  border: 0.0625rem solid #eaeaea;
  margin: 15px;
  text-align: center;
  background-color: #fff;
  padding-bottom: 10px;
}
main div img {
  width: 200px;
  height: 200px;
}
main div p {
  font-size: 16px;
  padding: 5px;
}
footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
main h1 {
  font-size: 24px;
  padding: 10px;
}
main h4 {
  padding: 20px;
}
main a {
  text-decoration: none;
  color: black;
}
button {
  padding: 5px;
  background: #f65e58;
  color: #fff;
}
.produto {
  padding-bottom: 0px;
}
.produto img {
  width: 300px;
  height: 300px;
}
.descricao {
  padding: 15px;
}
.formas {
  padding: 10px;
}
#pagamento {
  font-size: 24px;
  padding: 10px;
}
@media only screen and (max-width: 1024px) {
  header ul a,
  main h1,
  #pagamento {
    font-size: 20px;
  }
  main div img {
    height: 175px;
  }
  .produto img {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (max-width: 375px) {
  header li {
    padding: 5px;
  }
  header div img {
    object-fit: contain;
    height: auto;
  }
  header ul a,
  main h1,
  #pagamento,
  button,
  footer,
  #quem-somos,
  main h4 {
    font-size: 11px;
  }
  main {
    width: 100%;
  }
  main div {
    margin: 10px;
    padding-bottom: 5px;
  }
  main div img {
    height: 100px;
    width: 100px;
  }
  main div p {
    font-size: 10px;
    padding: 2.5px;
  }
  .produto img {
    width: 150px;
    height: 150px;
  }
  #pagamento {
    padding: 5px;
  }
  button {
    padding: 2.5px;
  }
  #quem-somos {
    padding: 10px;
    text-align: justify;
  }
}
