* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header > div,
ul {
  display: flex;
  background-image: url(./logo-lau.png);
  justify-content: space-around;
  list-style: none;
}
header div img {
  width: 100%;
  height: 300px;
}
.corpo {
  display: flex;
}
.produtos div {
  border: 1px solid #000;
  margin: 10px;
}
main img {
  width: 100px;
  height: 100px;
}
dl {
  margin: 5px;
}
dd {
  margin-inline-start: 40px;
}
footer {
  display: flex;
  justify-content: center;
}
